@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Creepster&family=Indie+Flower&family=Rock+3D&display=swap');

body {
  max-height: 800; /* WHY IS NOT WORKING */ 
}

#bakground-page {
  background: url("../images/forest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  padding-top: 12px;
  font-family: 'Rock 3D', cursive;
  color: rgb(5, 63, 27);
  font-size: 60px;
  display: flex;
  justify-content: center;

}

#game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#instructions {
  font-family: 'Indie Flower', cursive;
  background: rgba(255, 255, 255, 0.404) ;
  border-radius: 10px;
  color: black;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

body button {
  font-size: 50px;
  background-color: #0bbd5bf3;
  color: rgb(80, 11, 11);
  padding: 10px 30px;
  border: 1;
  box-shadow: 0;
  border-radius: 3px;
  margin-bottom: 20px;
  font-family: 'Amatic SC', cursive;

}
.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}
.loser-img {
  width: 400px;
}

#score {
  font-family: 'Creepster', cursive;
  font-size: 40px;
  padding-top: 80;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px #149c20;
}

#game-over {
  padding: 20px;
  font-family: 'Indie Flower', cursive;
  background: rgba(255, 255, 255, 0.404) ;
  border-radius: 10px;
  color: black;
  font-size: 25px;
  text-align: center; 
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 200px;
  
}

.hidden {
  display: none;
  visibility: hidden;
}

.displayed {
  display: block;
  visibility: visible
}


footer {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Indie Flower', cursive;
}
